<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sshfortress.dao.system.mapper.SysDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.sshfortress.common.beans.SysDictionary">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dflag" jdbcType="VARCHAR" property="dflag" />
    <result column="dkey" jdbcType="VARCHAR" property="dkey" />
    <result column="dvalue" jdbcType="VARCHAR" property="dvalue" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
  </resultMap>
  
  <resultMap id="AllBaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dflag" jdbcType="VARCHAR" property="dflag" />
    <result column="dkey" jdbcType="VARCHAR" property="dkey" />
    <result column="dvalue" jdbcType="VARCHAR" property="dvalue" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, dflag, dkey, dvalue, remark, type_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_dictionary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sshfortress.common.beans.SysDictionary">
    insert into sys_dictionary (id, dflag, dkey, 
      dvalue, remark, type_id
      )
    values (#{id,jdbcType=BIGINT}, #{dflag,jdbcType=VARCHAR}, #{dkey,jdbcType=VARCHAR}, 
      #{dvalue,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{typeId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sshfortress.common.beans.SysDictionary">
    insert into sys_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dflag != null">
        dflag,
      </if>
      <if test="dkey != null">
        dkey,
      </if>
      <if test="dvalue != null">
        dvalue,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dflag != null">
        #{dflag,jdbcType=VARCHAR},
      </if>
      <if test="dkey != null">
        #{dkey,jdbcType=VARCHAR},
      </if>
      <if test="dvalue != null">
        #{dvalue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sshfortress.common.beans.SysDictionary">
    update sys_dictionary
    <set>
      <if test="dflag != null">
        dflag = #{dflag,jdbcType=VARCHAR},
      </if>
      <if test="dkey != null">
        dkey = #{dkey,jdbcType=VARCHAR},
      </if>
      <if test="dvalue != null">
        dvalue = #{dvalue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sshfortress.common.beans.SysDictionary">
    update sys_dictionary
    set dflag = #{dflag,jdbcType=VARCHAR},
      dkey = #{dkey,jdbcType=VARCHAR},
      dvalue = #{dvalue,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <!-- 获取数据字典的情况  -->
  <select id="selectByAll" resultMap="AllBaseResultMap">
  SELECT id,dflag,dkey,dvalue FROM sys_dictionary
  where dkey is not null and dvalue is not null
   order by dflag asc,dkey+0 asc
  </select>
  
  
  
</mapper>